:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --base: #ff914d;
    --lighter: #ffbd59;
    --darker: #ffde59;
    --button: #3F3931;
    --transparent: rgba(255, 165, 0, 0.5);
}
  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent);
}

.back {
    position: absolute;
    top: 5px; /* Adjust top position as needed */
    right: 14px; /* Adjust right position as needed */
    cursor: pointer;
    z-index: 100;
  }

.overall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    overflow: auto; /* Allow scrolling if content exceeds max height */
    padding: 0px 10px 0px 10px; /* top right bottom left */
}

.login {
    position: relative; /* Change to relative */
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: var(--lighter);
    width: 330px;
    max-width: 100%; /* Adjust the maximum width as needed */
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 5% auto; /* Center horizontally and adjust as needed */
    margin-right: 5% auto;
    border: solid 3px #3F3931;
}

.login input,
.login select,
.login button {
    color: #3F3931;
    background: var(--lighter);
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid var(--lighter);
    border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active{
    transition: all 0s 5000s;
}

.login ::placeholder {
    color: #3F3931;
}

.login label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: var(--lighter);
    margin-bottom: 3px;
}

.submitbtn button {
    background-color: #3F3931;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login .forgot-password{
    font-weight: normal;
    color: var(--button);
    text-decoration: none;
}

.login .forgot-password:hover{
    color: var(--lighter);
}

.submitbtn button:hover {
    background-color: var(--base);
}

::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--base); /* Set the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #3F3931; /* Set the color of the track */
  }


/* Media Queries for responsiveness */
@media (max-width: 1920px) {
    .signup {
        max-width: 100%;
    }
}