:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left; /* Align content at the bottom of the page */
}

.buttons {
    text-align: left;
    margin-bottom: 10px; /* Optional: Add margin to separate buttons from the bottom */
}

.buttons button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: var(--transparent);
    color: var(--background);
    border-style: none;
    margin: 15px 80px; /* Adjusted margin between buttons */
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 15px;
}

.credits{
    position: absolute;
    top: 2vh;
    right: 4vw;    
}

.credits p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    color: var(--background);
}