:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --transparent: rgba(255, 166, 0, 0.65);
}

.login{
    background-color: var(--background);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin-top: 0.3vh; /* Adjust as needed */
}

.login form{

}