* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --base: #ff914d;
    --lighter: #ffbd59;
    --darker: #ffde59;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
}

.stage {
    background-color: #3F3931;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 1;
}

.stage .buttons {
    text-align: right;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.stage .buttons button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white; 
    border-style: none;
    padding: 10px;
    width: 105px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.stage .buttons button:first-child {
    background-color: white; 
    color: var(--lighter);
}

.stage .buttons button:not(:first-child):hover {
    color: #ffbd59; /* Change font color on hover for buttons from 2nd child to last child */
}

.stage .buttons button:not(:first-child):not(:hover) {
    background-color: transparent; /* Set background color of other buttons to transparent when not hovered */
}

.stage .buttons button:hover {
    background-color: var(--background);
}

.logo {
    width: 100%;
    left: 0;
}

.logo img {
    max-width: 75%;
    height: auto;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.languages {
    overflow-x: auto;
    white-space: nowrap;
    padding: 30px; /* Adjust padding as needed */
    width: 90%;
    min-width: 300px; /* Set a minimum width to prevent cutting off when zoomed */
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.languages img {
    width: 240px; /* Adjust the width as needed */
    height: auto;
    margin-left: 20px;
    margin-right: 20px; /* Adjust the spacing between images */
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: solid 3px #3F3931;
    flex-shrink: 0; /* Prevent images from shrinking */
}

.languages img:hover {
    transform: scale(1.1) rotate(0deg);
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--base); /* Set the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #3F3931; /* Set the color of the track */
  }