:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --base: #ff914d;
    --lighter: #ffbd59;
    --darker: #ffde59;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lighter);
}

.stage {
    background-color: #dcdcdc;
    width: 200px;
    height: 500px;
    z-index: 1; /* Ensure the "stage" div is above other elements */
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.stage button {
    text-align: left;
    margin: 7rem 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--lighter);
    color: var(--background);
    border-style: none;
    padding: 10px;
    width: 160px;
    cursor: pointer;
    border-radius: 10px;
}

.stage button:first-child {
    background-color: var(--base);
}

.stage button:hover {
    background-color: var(--base);
}

.stage img {
    position: fixed; /* Add position relative */
    top: -50px;
    display: flex; /* Center the image vertically */
    align-items: center;
    height: auto;
    width: 200px;
}


