:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --base: #ff914d;
    --lighter: #ffbd59;
    --darker: #ffde59;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.stage {
    background-color: var(--lighter);
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 1;
}

.stage .buttons {
    text-align: right;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.stage .buttons button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white; /* Set default font color to white */
    background-color: transparent; /* Set default background color to transparent */
    border-style: none;
    padding: 10px;
    width: 105px;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.3s; /* Add transition for smooth color change */
}

.stage .buttons button:nth-child(2) {
    background-color: white; /* Set background color of the second button to white */
    color: #ffbd59; /* Set font color of the second button to #ffbd59 */
}

.stage .buttons button:hover {
    color: #ffbd59; /* Change font color on hover for all buttons */
}

.stage .buttons button:hover:not(:nth-child(2)) {
    background-color: var(--background); /* Change background color on hover for buttons other than the second child */
}

.logo {
    width: 100%;
    left: 0;
}

.logo img {
    max-width: 75%;
    height: auto;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.form {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: var(--lighter);
    width: 330px;
    height: 270px;
    max-width: 100%;
    background-color: var(--background);
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
  }
  
  .update-form {
      flex: 0 0 20%; /* Adjust the width as needed */
      padding: 10px;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width:max-content;
    margin-bottom: 3px;
    color: var(--lighter);
  }
  
  input,
  select {
    color: var(--background);
    background: var(--lighter);
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid var(--lighter);
    border-radius: 5px;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active{
      transition: all 0s 5000s;
  }
  
  button {
      width: 100%;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      background-color: var(--lighter);
      color: var(--background);
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: var(--base);
  }
  
  /* Centering the Form */
  .form {
      margin-top: 50px; /* Adjust as needed for spacing from the top */
  }