:root {
  --background: #ffffff;
  --foreground: #ffa500;
  --base: #ff914d;
  --lighter: #ffbd59;
  --darker: #ffde59;
  --transparent: rgba(255, 166, 0, 0.200);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.stage {
  background-color: #3F3931;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 1;
}

.stage .buttons {
  text-align: right;
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.stage .buttons button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white; /* Set default font color to white */
  background-color: transparent; /* Set default background color to transparent */
  border-style: none;
  padding: 10px;
  width: 105px;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.3s; /* Add transition for smooth color change */
}

.stage .buttons button:nth-child(3) {
  background-color: white; /* Set background color of the second button to white */
  color: #ffbd59; /* Set font color of the second button to #ffbd59 */
}

.stage .buttons button:hover {
  color: #ffbd59; /* Change font color on hover for all buttons */
}

.stage .buttons button:hover:not(:nth-child(3)) {
  background-color: var(--background); /* Change background color on hover for buttons other than the second child */
}

.logo {
  width: 100%;
  left: 0;
}

.logo img {
  max-width: 75%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.languages {
  width: 55%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 60px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.languages img {
  width: 100%;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.languages img:hover {
  transform: scale(1.1) rotate(0deg);
  border-radius: 25px;
  box-shadow: 0 32px 75px rgba(0, 0, 0, 0.2);
}

.upload {
  width: max-content;
  position: absolute;
  left: 10%;
  top: 160px;
  margin: auto;
}

.upload img {
  border-radius: 0%;
  border: 8px solid var(--lighter);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* button */
.upload .round {
  width: max-content;
  position: absolute;
  bottom: -13px;
  left: 180px;
  background: var(--lighter);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--lighter);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upload .round img {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upload .round input[type="file"] {
  width: max-content;
  position: absolute;
  bottom: 5.5px;
  left: 8.2px;
  background: var(--lighter);
  width: 18px;
  height: 18px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(2);
  opacity: 0;
}

.divider {
  border: 1px solid #ccc; 
  margin: 20px 0; 
}

.upload .details {
  position: absolute;
  top: 20px;
  left: 38.5rem;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details h1 {
  margin-right: 10px;
}

.verified-badge {
  width:max-content;
  height: max-content;
  margin-bottom: 1px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upload .details .user-details {
  display: flex;
  align-items: center;
  gap: 1px; /* Adjust the space between the h1 and img */
}

.upload .details h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  color: var(--base);
  width:max-content;
}

.upload .details p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  color: var(--base);
  position: absolute;
  font-size: medium;
  top: 45px;
  width: max-content;
}

.upload .updates{
  position: absolute;
  top: 2rem;
  left: 25rem;
}

.upload .updates a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: bolder;
  padding: 15px;
  color: var(--background);
  background-color: var(--transparent);
  cursor: pointer;
  border-radius: 30px;
  border-style: none;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upload .updates a:hover {
  background-color: var(--base);
  transition: color 0.3s;
}

.upload .credentials {
  position: absolute;
  top: 160px;
  left: 38.5rem;
}

.upload .credentials p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  color: var(--base);
  position: absolute;
  font-size: small;
  width: max-content;
}

.upload .details img {
  border: none;
  border-radius: 0%;
}

