:root {
  --background: #ffffff;
  --foreground: #ffa500;
  --base: #ff914d;
  --lighter: #ffbd59;
  --darker: #ffde59;
  --transparent: rgba(255, 166, 0, 0.151);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  overflow: hidden;
}

.stage {
  background-color: #3F3931;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 1;
}

.stage .buttons {
  text-align: right;
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.stage .buttons button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white; /* Set default font color to white */
  background-color: transparent; /* Set default background color to transparent */
  border-style: none;
  padding: 10px;
  width: 105px;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.3s; /* Add transition for smooth color change */
}

.stage .buttons button:nth-child(3) {
  background-color: white; /* Set background color of the second button to white */
  color: #ffbd59; /* Set font color of the second button to #ffbd59 */
}

.stage .buttons button:hover {
  color: #ffbd59; /* Change font color on hover for all buttons */
}

.stage .buttons button:hover:not(:nth-child(3)) {
  background-color: var(--background); /* Change background color on hover for buttons other than the second child */
}

.logo {
  width: 100%;
  left: 0;
}

.logo img {
  max-width: 75%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.overall{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  max-width: 64%; /* Adjust the maximum width as needed */
  max-height: 65%; /* Adjust the maximum height as needed */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  overflow: auto;
}

.upload {
  position: absolute;
  left: 0%;
  top: 6.3%;
  margin: auto;
  background: var(--lighter);
}

.upload img {
  border-radius: 0%;
  border: 5px solid #3F3931;
  border-top: 30px solid #3F3931;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* button */
.upload .round {
  width: max-content;
  position: absolute;
  top: 1.4%;
  right: 2.5%;
  width: 30px;
  height: 23px;
  line-height: 24px;
  text-align: center;
  color: #3F3931;
  background-color: var(--lighter);
  cursor: pointer;
  overflow: hidden;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upload .round input[type="file"] {
  width: max-content;
  position: absolute;
  bottom: 4px;
  left: 8.2px;
  background: var(--lighter);
  width: 18px;
  height: 18px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(2);
  opacity: 0;
}

.divider {
  border: 1px solid #ccc; 
  margin: 20px 0; 
}

.details {
  position: absolute;
  top: 100%;
  left: 0%;
}

.details h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  color: #3F3931;
  width:max-content;
}

.details p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  color: #3F3931;
  position: absolute;
  font-size: small;
  top: 30px;
  width: max-content;
}

.details img {
  top: 50px;
}

.verified-badge {
  width:max-content;
  height: max-content;
  margin-bottom: 1px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.user-details {
  display: flex;
  align-items: center;
  left: 55%;
}

.user-details h1 {
  margin-right: 10px;
}


.updates{
  position: absolute;
  top: 8.5rem;
  left: 0;
  z-index: 100;
}

.updates a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: small;
  padding: 5px 82px 5px 82px; /* top right bottom left */
  color: white;
  width: max-content;
  background-color: #3F3931;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.updates a:hover {
  background-color: var(--base);
  color: white;
  transition: color 0.3s;
}

.credentials {
  position: absolute;
  top: -17.65rem;
  left: 16rem;
}

.credentials p {
  font-family: Arial, Helvetica, sans-serif;
  color: #3F3931;
  font-weight: normal;
  position: absolute;
  font-size: small;
  width: max-content;
  padding: 10px 20px 10px 20px; /* top right bottom left */
  border-left: 5px solid #3F3931;
}

.progress {
  position: absolute;
  top: -2.3rem;
  left: 16rem;
}

.progress p {
  font-family: Arial, Helvetica, sans-serif;
  color: #3F3931;
  font-weight: normal;
  position: absolute;
  font-size: small;
  width: max-content;
  padding: 10px 20px 10px 20px; /* top right bottom left */
  border-left: 5px solid #3F3931;
}

.achievements {
  position: absolute;
  top: -17.65rem;
  left: 38rem;
}

.achievements p {
  font-family: Arial, Helvetica, sans-serif;
  color: #3F3931;
  font-weight: normal;
  position: absolute;
  font-size: small;
  width: max-content;
  padding: 10px 20px 10px 20px; /* top right bottom left */
  border-left: 5px solid #3F3931;
  background: var(--transparent);
}

.details img {
  border: none;
  border-radius: 0%;
}

::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--base); /* Set the color of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #3F3931; /* Set the color of the track */
}