:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--transparent);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Set a maximum width for the form */
    width: 100%;
}

.signup input,
.signup select,
.signup button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.signup label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.submitbtn button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitbtn button:hover {
    background-color: #45a049;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
    .signup {
        max-width: 100%;
    }
}
