:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --transparent: rgba(255, 166, 0, 0.65);
}

.exit {
    position: absolute;
    left: 50px;
}

.exit a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: var(--background);
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.text-above-form {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 5px; /* Adjust as needed */
}

.text-above-form h2{
    color: var(--background);
    font-weight: bold;
}

.signup {
    background-color: var(--background);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin-top: 0.3vh; /* Adjust as needed */
}

.signup input,
.signup select,
.signup button {
    width: calc(100% - 20px);
    padding: 5px;
    box-sizing: border-box;
    border-style: none;
    background-color: var(--transparent);
    color: var(--background);
}

.signup ::placeholder {
    color: var(--background);
}

.signup label {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--foreground);
}

.submitbtn button {
    background-color: #ffbd59;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.submitbtn button:hover {
    background-color: #ff914d;
}

.text-below-form {
    text-align: center;
    margin-top: 0.5vh;
}

.text-below-form p{
    color: var(--background);
    font-size: smaller;
}


/* Media Queries for responsiveness */
@media (max-width: 250px) {
    .signup {
        max-width: 100%;
    }
}
