:root {
    --background: #ffffff;
    --foreground: #ffa500;
    --base: #ff914d;
    --lighter: #ffbd59;
    --darker: #ffde59;
    --transparent: rgba(255, 165, 0, 0.5);
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #efefef;
    overflow:hidden;
}

.logo {
    width: 100%;
    left: 0;
}

.logo img {
    max-width: 75%;
    height: auto;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.stage {
    background-color: #3F3931;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.larrow {
    position: absolute;
    width: 10%;
    left: 0%;
}

.larrow img {
    padding-left: 30px;
    max-width: 50%;
    height: auto;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.label {
    position: relative;
    top: 20%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element precisely */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
    width: max-content;
}

.label h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--lighter);
    margin: 0;
    margin-bottom: 2%;
}

.label p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    color: var(--background);
    margin: 0;
}

.progress-container {
    position: absolute;
    width: 150px; /* Set the width of your progress container */
    height: 20px; /* Set the height of your progress container */
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    left:13%;
}

.progress-container p {
    position: absolute;
    width: 100%; /* Make the <p> element take up the full width of its parent (.progress-container) */
    text-align: center; /* Center the text horizontally */
    top: -15%; /* Position the top of the <p> element at the center of its parent */
    transform: translateY(-50%); /* Adjust vertically to center the text perfectly */
    color: #3F3931;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}

.progress-bar {
    height: 100%;
    background-color: var(--lighter); /* Set the color of your progress bar */
    transition: width 0.5s; /* Add transition for smooth animation */
}

.languages {
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 50px 30px 50px 30px; /* top right bottom left */
    height: max-content;
    width: 61.5%; 
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-gap: 0px 50px;
    position: absolute;
    top: 58.4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score p, .score1 p, .score2 p, .score3 p, .score4 p, .score5 p, .score6 p, .score7 p{
    width: max-content; 
    position: absolute;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #3F3931;
    font-weight: bold;
    margin-bottom: 30px;
    top: -2rem;
    font-size: 2rem;
}

.score p:nth-child(1) {
    left: 8.5rem;
}

.score p:nth-child(2) {
    left: 27rem;
}

.score1 p{
    left: 45.5rem;
}

.score2 p{
    left: 64rem;
}

.score3 p{
    left: 82.5rem;
}

.score4 p{
    left: 101rem;
}

.score5 p{
    left: 119.5rem;
}

.score6 p{
    left: 138rem;
}

.score7 p{
    left: 156.5rem;
}

.image-container p {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease; /* Add transition effect */
}

.image-container:hover p {
    visibility: visible;
    opacity: 1;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--base); /* Set the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color:#3F3931; /* Set the color of the track */
  }
  

.languages img {
    width: 15rem;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: solid 3px #3F3931;
}
.languages img:hover {
    transform: scale(1.1) rotate(0deg);
    border-radius: 25px;
    box-shadow: 0 32px 75px rgba(0, 0, 0, 0.125);
}

